<nav class="navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Exiemoron</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {{#foreach navigation}}
                    <li class="nav-link nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
                {{/foreach}}
                <li class="nav-link {{#if current}} nav-current {{/if}}" role="presentation"><a href="/masthead">MASTHEAD</a></li>
                <li class="nav-link {{#if current}} nav-current {{/if}}" role="presentation"><a href="/tag/columns-casuals">COLUMNS + CASUALS</a></li>
                <li class="nav-link {{#if current}} nav-current {{/if}}" role="presentation"><a href="/tag/lists">LISTS</a></li>
                <li class="nav-link" role="presentation"><a class="subscribe-button" href="{{@blog.url}}/rss/">Subscribe</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {{!--<li><input type="text" class="form-control search-box" placeholder="Search"></li>
                <i class="glyphicon glyphicon-search"></i>--}}
            </ul>
        </div>
    </div>
</nav>

{{!----}}