{{#if next}}
<nav class="pagination col-md-12" role="navigation">
    <a class="older-posts" href="{{page_url next}}">Older Posts &rarr;</a>
</nav>
{{/if}}
{{#if prev}}
<nav class="pagination col-md-12" role="navigation">
    <a class="newer-posts" href="{{page_url prev}}">&larr; Newer Posts</a>
</nav>
{{/if}}